.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.d-b {
  display: block;
}

.d-n {
  display: none;
}

.d-n-i {
  display: none!important;
}

@media screen and (min-width: $md) {
  .md_d-n,
  .d-n-md {
    display: none;
  }
  .md_d-if,
  .d-if-md {
    display: inline-flex;
  }
  .md_d-f,
  .d-f-md {
    display: flex;
  }
}

@media screen and (min-width: $lg) {
  .lg_d-n,
  .d-n-lg {
    display: none;
  }
  .lg_d-if,
  .d-if-lg {
    display: inline-flex;
  }
  .lg_d-f,
  .d-f-lg {
    display: flex;
  }
}
