// gap: 0rem - 10rem
$val: 0;
@while $val <= 10 {
    .g-#{$val} {
        gap: #{$val}rem;
    }

    $val: $val + 1;
}



// gap: 0.5rem - 9.5rem
$pref: 0;
@while $pref < 10 {
    $post: 5;
    $val: $pref+0.5;

    .g-#{$pref}-#{$post} {
        gap: #{$val}rem;
    }

    $pref: $pref + 1;
}



// gap: 0.25rem - 9.75rem
$pref: 0;
@while $pref < 10 {
    $post: 25;
    $val: $pref+0.25;

    @while $post <= 75 {
        .g-#{$pref}-#{$post} {
            gap: #{$val}rem;
        }

        $post: $post + 25;
        $val: $val + 0.25;
    }

    $pref: $pref + 1;
}



// sm после чтобы перебивать предыдущий



// md после чтобы перебивать предыдущий



// lg после чтобы перебивать предыдущий
// gap: 0rem - 10rem
$val: 0;
@while $val <= 10 {
    .g-#{$val}-lg {
        @media screen and (min-width: $lg) {
            gap: #{$val}rem;
        }
    }

    $val: $val + 1;
}



// gap: 0.5rem - 9.5rem
$pref: 0;
@while $pref < 10 {
    $post: 5;
    $val: $pref+0.5;

    .g-#{$pref}-#{$post}-lg {
        @media screen and (min-width: $lg) {
            gap: #{$val}rem;
        }
    }

    $pref: $pref + 1;
}



// gap: 0.25rem - 9.75rem
$pref: 0;
@while $pref < 10 {
    $post: 25;
    $val: $pref+0.25;

    @while $post <= 75 {
        .g-#{$pref}-#{$post}-lg {
            @media screen and (min-width: $lg) {
                gap: #{$val}rem;
            }
        }

        $post: $post + 25;
        $val: $val + 0.25;
    }

    $pref: $pref + 1;
}



// xl после чтобы перебивать предыдущий
