.lh-1-1,
.lh-110 {
    line-height: 1.1;
}

.lh-1-2,
.lh-120 {
    line-height: 1.2;
}

.lh-1-3,
.lh-130 {
    line-height: 1.3;
}

.lh-1-4,
.lh-140 {
    line-height: 1.4;
}

.lh-1-5,
.lh-150 {
    line-height: 1.5;
}

.lh-1-6,
.lh-160 {
    line-height: 1.6;
}

.lh-1-7,
.lh-170 {
    line-height: 1.7;
}
