/**
 * @title1 reset
 * @author1 http://meyerweb.com/eric/tools/css/reset/
 * v5.0.2 | 20191019
 *
 * @title2 normalize
 * @author2 artemsites.ru
 * @version 1.4 | 15.01.2024
 */
button,
input,
textarea,
select,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    min-height: 100vh;

    line-height: 1;
    hyphens: auto;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

button {
    text-align: left;
}

button,
[type=submit] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}

input {
    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

video {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    /* для предотвращения мелькания при загрузке на некоторых версиях ios */
}
