/**
 * @title art-reset 
 * @author artemsites.ru
 * @version 1.1.1 06.11.2023
 * @source https://gist.github.com/artemsites/e8b6727865d1880800990fff956a0c47
 */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  hyphens: auto;
}

button {
  text-align: left;
}

button,
[type=submit] {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  hyphens: auto;
}

video {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  /* для предотвращения мелькания при загрузке на некоторых версиях ios */
}