// width
.w-full {
    width: 100%;
    @media screen and (min-width: $sm) {
        &_sm {
            width: 100%;
        }
    }
    @media screen and (min-width: $md) {
        &_md {
            width: 100%;
        }
    }
}

.w-half {
    width: 50%;
    @media screen and (min-width: $sm) {
        &_sm {
            width: 50%;
        }
    }
    @media screen and (min-width: $md) {
        &_md {
            width: 50%;
        }
    }
}

.w-gr-s {
    width: $gr-s;
}

.w-gr-b {
    width: $gr-b;
}

// max-width
.maxw-u {
    max-width: unset;
}

// min-width
.minw-u {
    min-width: unset;
}



// height
.h-full {
    height: 100%;
}



.md {
    @media screen and (min-width: $md) {
        &_w-a {
            width: auto;
        }

        &_w-50 {
            width: 50%;
        }

        &_w-40 {
            width: 40%;
        }
    }
}

.lg {
    @media screen and (min-width: $lg) {
        &-wa {
            width: auto;
        }
    }
}
