// Вдохновение https://tailwindcss.com/docs/
// v 0.4 - 2.05.2023



@import 'base';
@import 'display';
@import 'width-height';
@import 'flex';
@import 'text-transform';
@import 'text-align';
@import 'margin';

@for $i from -1 through 10 {
  .fs#{$i+1} {
    font-size: $i+1rem;
  }
}

.zi0 {
  z-index: 0;
}

.fdc {
  flex-direction: column;
}

.tr90 {
  transform: rotate(90deg);
}

.o1 {
  order: 1;
}
.o2 {
  order: 2;
}
.o3 {
  order: 3;
}
.o4 {
  order: 4;
}
.o5 {
  order: 5;
}

.fs0 {
  flex-shrink: 0;
}






















// Это на скорую руку писал в крыме
// .t-tx-50 {
//   transform: translateX(-50%);
// }
.ta-r {
text-align: right;
}
.maxw-u {
  max-width: unset;
}
.c-p {
  cursor: pointer;
}
.fd-c {
  flex-direction: column;
}

.ai-s {
  align-items: flex-start;
}

.gap-1 {
  gap: 1rem;
}

.zi-5 {
  z-index: 5;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.bg-sky {
  background: var(--c-sky);
}
